<section class="about-us">
    <div class="wrapper">
        <div class="container">
            <ul class="gallery">
                <li class="about">
                    <h2 class="headline h3">ABOUT US</h2>
                    <p>
                        Go hiking in Norway and discover why the locals can’t get enough of nature. Our most scenic landscapes are definitely best enjoyed on foot.
                    </p>
                    <button class="button">READ MORE</button>
                </li>
                <li>
                    <img src="/hikingAbout1.png" alt="first about us photo">
                </li>
                <li>
                    <img src="/hikingAbout2.png" alt="second about us photo">
                </li>
            </ul>
        </div>
    </div>
</section>