<section class="fjord-norway">
    <div class="wrapper">
        <div class="introduction">
            <h2 class="headline h3">HIKING IN FJORD NORWAY</h2>
            <p>
                The varied scenery, from popular marked trails and tourist attractions to wild and untamed mythical
                landscapes, has earned Norway a well-deserved reputation as a major
                hiking destination in Europe. A few examples of classic (and challenging!)
                hiking routes are Preikestolen, Trolltunga, Galdhøpiggen, Besseggen, and Romsdalseggen.
            </p>
        </div>
        <ul class="gallery">
            <li>
                <img src="/hikingFjord1.jpg" alt="first Fjord island">
                <p>
                    These iconic hikes are visited by people from all over the world, and tend to be a
                    bit crowded during weekends from mid-June to the end of July. However, if you hit the
                    trails during weekdays you will probably meet fewer people.
                </p>
                <button class="button">READ MORE</button>
            </li>
            <li>
                <img src="/hikingFjord2.jpg" alt="second Fjord island">
                <p>
                    Or you can take the trip when the landscape get painted in red, yellow, and orange during late summer and autumn.
                    At this time, you can enjoy the scenic surroundings practically undisturbed.
                </p>
                <button class="button">READ MORE</button>
            </li>
        </ul>
    </div>
</section>