<section class="reviews">
    <div class="wrapper">
        <ul class="gallery">
            <li>
                <div class="image-wrapper">
                    <img src="/hikingReviews.jpg" alt="Bertie Norton">
                    <span class="h4 name">BERTIE NORTON</span>
                </div>
                <div class="content">
                    <p>
                        <q>
                            Aenean pulvinar dui ornare, feugiat lorem non, ultrices justo. Mauris efficitur, mauris in auctor euismod, quam elit ultrices urna,
                            eget eleifend arcu risus id metus. Maecenas ex enim, mattis eu velit vitae, blandit mattis sapien. Sed aliquam leo et semper vestibulum.
                        </q>
                    </p>
                    <span class="h4 name">BERTIE NORTON</span>
                </div>
            </li>
            <li>
                <div class="image-wrapper">
                    <img src="/hikingReviews2.jpg" alt="Frank Kinney">
                    <span class="h4 name">BERTIE NORTON</span>
                </div>
                <div class="content">
                    <p>
                        <q>
                            Aenean pulvinar dui ornare, feugiat lorem non, ultrices justo. Mauris efficitur, mauris in auctor euismod, quam elit ultrices urna, eget eleifend
                            arcu risus id metus. Maecenas ex enim, mattis eu velit vitae, blandit mattis sapien. Sed aliquam leo et semper vestibulum.
                        </q>
                    </p>
                    <span class="h4 name">Frank Kinney</span>
                </div>
            </li>
        </ul>
    </div>
</section>