<header class="page-header staging">
    <div class="wrapper">
        <div class="content">
            <div class="left-side">
                <h1 class="headline h1">HIKING IN NORWAY</h1>
                <ul class="social-list">
                    <li>
                        <a href="#" class="link facebook">
                            <span>Facebook</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/DawidOleksiuk" class="link twitter" rel="external noopener" target="_blank">
                            <span>Twitter</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/imyourshadown/" class="link instagram" rel="external noopener" target="_blank">
                            <span>Instagram</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/shadown125" class="link github" rel="external noopener" target="_blank">
                            <span>Github</span>
                        </a>
                    </li>
                </ul>
                <button class="button">READ MORE</button>
            </div>
            <div class="right-side">
                <img src="/hikingStage2.png" alt="opening logo">
            </div>
        </div>
    </div>
</header>