<section class="trekking">
    <div class="wrapper">
        <ul class="container">
           <li>
               <h2 class="headline h3">HIKING WITH THE NORWEGIAN TREKKING ASSOCIATION</h2>
               <p>
                   Norway is an incredible place to explore, with untamed mythical landscapes,
                   mountains, valleys, and fjords. Before you enter the outdoors, get familiar with the nine simple rules of the Norwegian mountain code to help you stay safe.
               </p>
               <button class="button">READ MORE</button>
           </li>
            <li>
                <ul class="classic-list">
                    <li>Plan your trip and inform others about the route you have selected.</li>
                    <li>Adapt the planned routes according to ability and conditions.</li>
                    <li>Pay attention to the weather and the avalanche warnings.</li>
                    <li>Be prepared for bad weather and frost, even on short trips.</li>
                    <li>Bring the necessary equipment so you can help yourself and others.</li>
                    <li>Choose safe routes. Recognize avalanche terrain and unsafe ice.</li>
                    <li>Use a map and a compass. Always know where you are.</li>
                </ul>
            </li>
        </ul>
    </div>
</section>