@use "../susanoo";
@use 'variables';

button {
    background: unset;
    border: unset;
    cursor: pointer;
}

.button {
    position: relative;
    color: variables.$button-color;
    background: {
        color: variables.$button-background-color;
    }
    padding: susanoo.rem-calc(8) susanoo.rem-calc(28);
    transition: all 0.3s linear;
    overflow: hidden;
    &:hover {
        background: {
            color: variables.$button-hover-background-color;
        }
        &::before {
            transform: translateX(100%) rotate(45deg);
        }
    }
    &::before {
        content: '';
        position: absolute;
        background: {
            color: variables.$button-before-background-color;
        }
        top: 0;
        left: 0;
        width: 100%;
        height: susanoo.rem-calc(16);
        transform: translateX(-100%) rotate(45deg);
        transition: all 0.3s linear;
    }
}