<footer class="section footer">
    <div class="wrapper">
        <div class="inner-wrapper">
            <ul class="container">
                <li>
                    <a href="mailto:dawidoleksiuk@wp.pl" class="link">Contact Me!</a>
                    <div class="copyright">&copy; {{ dateFormat "2006" now  }} All rights reserved by Dawid Oleksiuk</div>
                </li>
                <li>
                    <img src="/hikingStage2.png" alt="opening logo">
                </li>
                <li>
                    <h2 class="headline h3">TAKE A HIKE</h2>
                    <p>
                        There is no need to wait until you’re here to find out what you’d like to do. Filter your search and check out the offers below.
                    </p>
                    <button class="button">SUBSCRIBE</button>
                </li>
            </ul>
        </div>
    </div>
</footer>
</html>